# Claude API
ANTHROPIC_API_KEY=

# iOS App Bundle IDs
COUPANG_BUNDLE_ID=com.coupang.Coupang
BAEMIN_BUNDLE_ID=com.woowahan.deliveryapp
COUPANG_EATS_BUNDLE_ID=com.coupang.CoupangEats
KAKAOT_BUNDLE_ID=com.kakao.taxi
NAVER_BUNDLE_ID=com.nhn.NaverSearch
YANOLJA_BUNDLE_ID=com.yanolja.yanoljaapp
CATCHTABLE_BUNDLE_ID=com.catchtable.catchtable
KAKAO_BUNDLE_ID=com.kakao.talk
